{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('https://s.yimg.com/ny/api/res/1.2/8PWTSgq_MoxMSV3DzuzDTA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTU0MDtjZj13ZWJw/https://o.aolcdn.com/images/dims?resize=2000%2C2000%2Cshrink&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Fa6d0e06df1217700bb720e2c2549e370%2F206534559%2FGIF_WingsuitDive.gif&client=a1acac3e1b3290917d92&signature=e07e268befa884f353c911a940ed156ad9caadf1')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Sahil's Gaming Hub</h1>
          <span class="subheading">Your Daily Dose of Gaming News, Reviews, and Tips</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">{{post.author.name}}</a>
          on {{post.date}}
          <!-- TODO: Only show delete button if user id is 1 (admin user) -->
          {% if current_user.id == 1 %}
          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <!-- TODO: Only show Create Post button if user id is 1 (admin user) -->
      {% if current_user.id == 1 %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >Create New Post</a
        >
      </div>
      {% endif %}
      <!-- Pager-->
<!--      <div class="d-flex justify-content-end mb-4">-->
<!--        <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>-->
<!--      </div>-->
    </div>
  </div>
</div>

{% include "footer.html" %}
